<h2>This section is under construction.</h2>
<div class="search pull-right"><input type="search" ng-model="searchText" placeholder="Search"/></div>
<div class="container">
  <div class="col-xs-12">
    <div class="col-xs-1">#</div>
    <div class="col-xs-2">User Name</div>
    <div class="col-xs-4">Email Id</div>
    <div class="col-xs-2">Mobile</div>
    <div class="col-xs-2">First Name</div>
    <div class="col-xs-1">Last Name</div>
  </div>
  <div ng-repeat="user in admin.users | filter:searchText" class="col-xs-12">
    <div class="col-xs-1">{{user.userId}}</div>
    <div class="col-xs-2">{{user.userName}}</div>
    <div class="col-xs-4">{{user.emailId}}</div>
    <div class="col-xs-2">{{user.mobileNumber}}</div>
    <div class="col-xs-2">{{user.firstName}}</div>
    <div class="col-xs-1">{{user.lastName}}</div>
  </div>
</div>
